* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.container {
    width: 400px;
    border: 1px solid #999;
    padding: 5px;
}

header,
nav,
section,
article,
aside,
footer {
    border: 1px solid #999;
    background-color: #f2f2f2;
    text-align: center;
    font-size: 28px;
    color: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px 0;
}

header,
nav,
footer {
    height: 70px;
}

.content {
    display: flex;
    gap: 5px;
    margin: 3px 0;
}

.left {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.left section,
.left article {
    height: 120px;
}

aside {
    width: 35%;
    height: 245px;
}

footer {
    height: 70px;
}